.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow: hidden;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Controlled height to keep it small */
  background: #000;
  display: flex;
  justify-content: space-between; /* Pushes content to opposite sides */
  align-items: center;
  padding: 0 40px; /* Horizontal breathing room */
  z-index: 1000; /* Stays on top of platform bar */
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

/* LOGO STYLING */
.logo-text {
  color: white;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: -1px;
}
.logo-accent {
  color: #00f7ff;
  font-weight: 400;
  font-size: 20px;
}

/* RIGHT SIDE CONTAINER */
.nav-links {
  display: flex;
  gap: 30px; /* Space between icons */
}
.nav-item {
  color: #888;
  text-decoration: none;
  font-size: 18px; /* Slightly smaller icons */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 0.3s;
}

.nav-item span {
  font-size: 10px; /* Smaller text under icons */
  margin-top: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-item:hover, .nav-item.active {
  color: #00f7ff;
}

/* LINE UNDER ICON (the "stick to page" look) */
.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 25px;
  height: 3px;
  background: #00f7ff;
  border-radius: 10px;
  box-shadow: 0 0 10px #00f7ff;
}

.logout-btn:hover {
  color: #ff4d4d !important; /* Red hover for logout */
}

body {
  padding-top: 70px;
}

.ad-slider {
    animation: slideLoop 15s infinite cubic-bezier(0.8, 0, 0.2, 1);
}

@keyframes slideLoop {
    /* Image 1 */
    0%, 20% { transform: translateX(0%); }
    /* Transition to Image 2 */
    25%, 45% { transform: translateX(-100%); }
    /* Transition to Image 3 */
    50%, 70% { transform: translateX(-200%); }
    /* Transition to Loop Anchor (Image 1 Copy) */
    75%, 95% { transform: translateX(-300%); }
    /* Reset to start */
    100% { transform: translateX(0%); }
}

/* Stops the slide if the user hovers to read the ad */
.ad-slider:hover {
    animation-play-state: paused;
}
